:root {
  --sample-card-image-dimension: 100px;
  --large-card-width: 300px;
  --large-card-height: 170px;
}

/* My Beats Card */
.BeatsContainer {
  height: var(--large-card-height);
  min-height: var(--large-card-height);
  width: var(--large-card-width);
  min-width: var(--large-card-width);
  background-color: #fff;
  background-size: var(--large-card-width) var(--large-card-height);
  
  border: solid #000 1px;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  margin: 10px
}

.BeatsCardContainerOverlay {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.BeatsCardTagContainer:hover {
  cursor: pointer;
  border: solid 1px rgba(101, 101, 101, 0.6);
  box-sizing: border-box;
  border-radius: 15px;
  transition: border 0.4s;
}
  
.BeatsCardTagContainer {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
  overflow: hidden;
}

.BeatsCardTag {
  box-sizing: border-box;
  padding: 2px 13px;
  margin: 5px 3px;
  margin-top: 0px;
  border-radius: 10px;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

h4 {
  font-size: 1.1em;
}

/* Public Beat Card */
.PublicBeatsContainer {
  height: var(--large-card-height);
  min-height: var(--large-card-height);
  width: var(--large-card-width);
  min-width: var(--large-card-width);
  background-color: #fff;
  background-size: var(--large-card-width) var(--large-card-height);
  border: solid #000 1px;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  margin: 10px;
}

.PublicBeatsContentOverlay {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.PublicBeatsContent {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
  overflow: hidden;
}

.PublicBeatsContent:hover {
  border: solid 2px rgba(101, 101, 101, 0.6);
  border-radius: 15px;
  transition: border 0.4s;
}

.PublicBeatsOwnerImage {
  border-radius: 12px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover;
}

.PublicBeatInfo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 4.5px;
}

.PublicBeatInfoLabel {
  margin: 3px 0px;
  font-size: 0.8em;
}

.PublicBeatInfoContent {
  display: flex;
  flex-direction: row;
}

.PublicBeatPlayInfo {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.PublicBeatInfoDesc {
  margin: 0.5px 0px;
  font-size: 0.65em;
  color: rgba(255, 255, 255, 0.804);
}

.PublicBeatVerticalSpacer {
  height: 10px;
}

.PublicBeatActionButton {
  cursor: pointer;
}

/* Sample Card */
.SampleCardContainer {
  min-width: calc(var(--sample-card-image-dimension) + 25px);
  min-height: calc(var(--sample-card-image-dimension) + 30px);
  width: calc(var(--sample-card-image-dimension) + 25px);
  height: calc(var(--sample-card-image-dimension) + 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;

  box-sizing: border-box;
  margin: 9px 1px;
}

.SampleCardBackgroundImage {
  width: var(--sample-card-image-dimension);
  min-width: var(--sample-card-image-dimension);
  min-height: var(--sample-card-image-dimension);
  height: var(--sample-card-image-dimension);
  border: solid 0px;
  border-radius: 50%;
  position: relative;
}

.SampleCardOverlay {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0px;
  border-radius: 50%;
  position: absolute;
  float: left;
}

.SampleCardOverlay:hover {
  border: solid 0.8px;
  background-color: rgba(53, 53, 53, 0.249);
  cursor: pointer;
  transition: 0.2s;
}

.SampleCardLabel {
  height: 50px;
  width: 98%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  margin: 2px;
  margin-top: 9px;

  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

h5 {
  font-size: 0.9em;
}